// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #0036d0;
$secondary: #ff5600;
$orange: #ff8a00;
$yellow: #ffce00;
$green: #00b26b;
$text: #222;
$white: #fff;
$lightGrey: #f7f8fa;
$blueGrey: #4d5b7e;
$borderColor: #e7ebef;